@{
    ViewBag.Title = "Home Page";
}
<link type="text/css" href="~/Content/food.css" rel="stylesheet" />
<div class="title-big">
    <img src="/Img/logo.jpg" style="width:100px" />
    Foodie Miracles Multi-Cuisine Restaurant
</div>

<div>
    <div id="foodorder" style="border:0px solid red">
    </div>
</div>

<script src="~/dist/bundle.js"></script>